<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Nanonets API</h1>

    <fieldset>
        <legend>Model Library</legend>
        <table>
            <tr>
                <th>Model ID</th>
                <th>Is Trained</th>
                <th>Actions</th>
            </tr>
            <% for(model of ocr_models) { %>
            <tr>
                <td><%= model.modelID %></td>
                <td><%= model.isTrained %></td>
                <td>
                    <form action="/deleteModel/<%= model.modelID %>" method="post">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>     
    </fieldset>
    <img src="../images/training/IMG_5885.jpg" alt="">
    <form id="nanonetsApi" action="/uploadImages" method="POST">
        <fieldset class="uploadImages">
            <legend>Upload Images</legend>

            <div class="form-field">
                <input id="trainingSet" type="radio" name="imageType">
                <label for="trainingSet">To training set</label>

                <input type="radio" id="pedictionSet" name="imageType">
                <label for="pedictionSet">To prediction set</label>
            </div>
            
            <div class="form-field">
                <label for="modelID">Model ID</label>
                <input id="modelID" name="modelID" type="text">
            </div>
            
            <div class="form-field">
                <label for="trainingImage">Select Image File</label>
                <input type="file" multiple="multiple" name="trainingImage">
            </div>

            <fieldset class="trainingData">
                <legend>Enter Image Data</legend>
                
            </fieldset>

            <button>Submit</button>
        </fieldset>
    </form>

    <fieldset class="trainingLibrary">
        <legend>Training Library</legend>
    </fieldset>

    <script src="./js/main.js"></script>
</body>
</html>