<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create Caps</h2>
    <form action="/addCokeCaps" method="POST">
        <fieldset>
            <label for="code">Cap Code</label>
            <input name="code" type="text">
            <input name="status" value="new" type="hidden">
            <button>Add Cap</button>
        </fieldset>
    </form>

    <h2>Read Coke Caps</h2>
    <!-- ejs -->
    <ul>    
        <% for (i=0; i < cokeCaps.length; i++) { %>
        <li><%= cokeCaps[i].code;%> <%= cokeCaps[i].status %></li>
        <% } %>
    </ul>

    <h2>Update Coke Cap</h2>
    <form action="/updateCokeCap" method="POST">
        <fieldset>
            <label for="code">Cap Code</label>
            <input name="code" type="text">
            <label for="status">Status</label>
            <select name="status" id="">
                <option value="image uploaded">Image uploaded</option>
                <option value="scanned">Scanned</option>
                <option value="claimed">Claimed</option>
            </select>
            <button>Update Cap</button>
        </fieldset>
    </form>
    
    <h2>Delete Coke Cap</h2>
    <form action="/deleteCokeCap" method="POST">
        <fieldset>
            <label for="code">Cap Code</label>
            <input name="code" type="text">
            <button>Delete Cap Code</button>
        </fieldset>
    </form>
</body>
</html>